#button5 {
    display: block;
    margin: 20px auto;
    padding: 15px 40px;
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    animation: click-me 0.5s infinite alternate;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);

}
@keyframes click-me {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
}

/* Hover*/
#button5:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); 
    transition: ease-in-out 0.3;
}
/* result */
.result-container {
    min-height: 3rem;
    font-size: 1.5rem;
    border: 2px solid #ccc;
}

.result-container h4 {
    color: #007bff;
}
/*Wand Background */

#result {
    background-image: url('imgs/wand.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
    background-color: transparent; 
}

/* Animation */

body {
    animation: fadeIn 1s ease-in-out;
    background-image: url('imgs/hogwarts-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-color: transparent; 
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}